body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  padding: 20px;
}

header {
  text-align: center;
}

.menu {
  margin-bottom: 15px;
}

.menu a {
  margin-right: 10px;
  text-decoration: none;
  color: #2563eb;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

input, select, button {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 8px;
}


