body {
  font-family: Arial, sans-serif;
  background: #eef2f5;
  margin: 0;
  padding: 15px;
}

.capa {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.topbar {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  font-size: 26px;
  cursor: pointer;
}

.menu {
  display: none;
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}

